#container {
	width:800px;
	height:450px;
	background-color:#000000;
}

#map {
	background-color:#3C92DE;
	width:600px;
	height:300px;
	float:left;
}

#interface {
	background-color:#67BF6A;
	width:200px;
	height:300px;
	float:left;
}

#messages {
	padding-left:15px;
	background-color:#BFBB3F;
	width:785px;
	height:160px;
	float:left;
}

#enemy {
	background-color:#DE4D1D;
	width:300px;
	height:300px;
	float:left;
	text-align:center;
}

#player {
	text-align:center;
	background-color:#66ED6A;
	width:300px;
	height:300px;
	float:left;
}
